/* General */
.sidecart {
	font: 14px/18px 
		"Open Sans", "Helvetica Neue Light", 
		"Helvetica Neue", Helvetica, 
		Arial, sans-serif;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 255;
	overflow-x: hidden;
	padding: 0;
	box-sizing: border-box;
}
.sidecart a {
	text-decoration: none;
	color: #EE6666;
}
.sidecart a:hover {
	color: #FF9999;
}
.sidecart.left {
	left: 0;
}                                                      
.sidecart.top {
	height: auto;
	width: 100%;
	left: 0;
}
.sidecart.hidden {
	background-color: rgba(0,0,0,0);
}
.sidecart .inner {
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100%;
	width: 320px;
	color: #AAA;
	float:left;
	background-color: rgba(0,0,0,.85);
}
.sidecart.top .inner {
	height: 320px;
	width: 100%;
}
.sidecart.left .inner {
	float: left;
}
.sidecart .views {
	padding: 20px;
}
.sidecart.hidden .inner {
	width: 0;
}
.sidecart.hidden.top .inner {
	width: auto;
	height: 0;
}
.sidecart .tabs {
	-webkit-border-radius: 2px 0 0 2px; 
	-moz-border-radius: 2px 0 0 2px; 
	border-radius: 2px 0 0 2px; 
	margin-top: 2px;
	background-color: #222;
	float: left;
}
.sidecart.left .tabs{
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}
.sidecart.top .tabs {
	margin-top: 0;
	margin-left: 20px;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
}
.sidecart .tabs a {
	display: block;
	padding: 5px;
	margin: 1px;
	text-decoration: none;
	color: #AAA;
	background-color: #666;
}
.sidecart.top .tabs a {
	display: inline-block;
}
.sidecart .tabs a:hover {
	background-color: #444;
}
.sidecart .tabs a.selected {
	background-color: #222;
}
/* Type-Specific */
/* Annotations */
.sidecart .annotations {
	font-weight: 300;
	color: #CCC;
}
.sidecart .annotations .name,
.sidecart .annotations .time,
.sidecart .annotations .date {
	text-align: right;
}
.sidecart .annotations .name {
	color: #777;
}
.sidecart .annotations .time,
.sidecart .annotations .date {
	color: #666;
}
.sidecart .annotations .items {}
.sidecart .annotations .items .item p {
	margin-top: 0;
}
.sidecart .annotations .items .item {
	padding: 20px 0 40px 0;
	border-bottom: 2px dotted #555;
}
.sidecart .annotations .items .item:first-of-type {
	padding-top: 0;
}
.sidecart .annotations .items .item:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}
.sidecart .annotations a.readmore-js-toggle {
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	font-size: 10px;
	color: #EE6666;
}
.sidecart .annotations a.readmore-js-toggle:hover {
	color: #FF9999;
}
/* Nav */
.sidecart .nav ul {
	padding: 0;
}
.sidecart .nav a {
	display: inline-block;
}
.sidecart .nav .book {
	font-size: 120%;
	margin-top: 20px;
	padding: 0;
}
.sidecart .nav .book:first {
	margin-top: 0;
}
.sidecart .nav .chapter {
	margin: 5px 0;
}
.sidecart .nav li {
	list-style: none;
	margin-left: 10px;
}