/* General */
.sidecart {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 255;
	overflow-x: hidden;
	padding: 0;
	box-sizing: border-box;
}
.sidecart.hidden {
	background-color: rgba(0,0,0,0);
}
.sidecart .inner {
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 320px;
}
.sidecart.hidden .inner {
	width: 0;
}
.sidecart .icons {
	margin-top: 2px;
	background-color: rgba(0,0,0,.75);
	float: left;
}
.sidecart .icons a {
	display: block;
	padding: 5px;
	margin: 2px;
	text-decoration: none;
	color: #222;
	background-color: rgba(255,255,255,.2);
}
.sidecart .icons a:hover,
.sidecart .icons a.selected {
	background-color: rgba(255,255,255,.4);
}
.sidecart .items {
	padding: 20px;
	background-color: rgba(0,0,0,.85);
}
.sidecart .items .item p {
	margin-top: 0;
}
/* Type-Specific */
/* Annotations */
.sidecart.annotations {
	font: 14px/18px 
		"Open Sans", "Helvetica Neue Light", 
		"Helvetica Neue", Helvetica, 
		Arial, sans-serif;
	font-weight: 300;
	color: #CCC;
}
.sidecart.annotations .name,
.sidecart.annotations .time,
.sidecart.annotations .date {
	text-align: right;
}
.sidecart.annotations .name {
	color: #777;
}
.sidecart.annotations .time,
.sidecart.annotations .date {
	color: #666;
}
.sidecart.annotations .items .item {
	padding: 20px 0 40px 0;
	border-bottom: 2px dotted #555;
}
.sidecart.annotations .items .item:first-of-type {
	padding-top: 0;
}
.sidecart.annotations .items .item:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}
.sidecart.annotations a.readmore-js-toggle {
	display: inline-block;
	margin-left: 10px;
	font-size: 10px;
	color: #EE6666;
}
.sidecart.annotations a.readmore-js-toggle:hover {
	color: #FF9999;
}